image osukiosk.img {
    hdimage {
        # MBR (msdos) partition table - simpler and more broadly
        # compatible with legacy BIOS boot than GPT for this stage.
    }

    partition boot {
        partition-type = 0xC          # FAT32 LBA
        bootable = "true"
        image = "boot.vfat"
        size = 256M
    }

    partition data {
        partition-type = 0x83         # generic Linux data
        image = "data.img"            # pre-built F2FS raw image
    }
}

image boot.vfat {
    vfat {
        label = "OSUBOOT"
        files = {
            "bzImage",
            "rootfs.squashfs",
            "extlinux.conf"
        }
    }
    size = 256M
}
